.gallery{
    width: 100%;
    margin-top: 40px;

    @media screen and (min-width: 745px) {  
        margin-top: 55px;

    }
}

.gallery-a{

    @media screen and (min-width: 1500px) {
        width: 90%;
        margin: auto;
        
        
    }

    h3{
        font-size: 18px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: underline;
        margin-bottom: 10px;
        font-weight: 700;

        @media screen and (min-width: 990px) {  
            font-size: 30px;
    
        }
        

    }


    .grid{
        width: 100%;
        height: 80vh;
        position: relative;

        @media screen and (min-width: 630px) {  
            display: none;
    
        }

        .item1{
            object-fit: cover;
            height: 100%;
            width: 100%;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(0, 0, 0, 0.8) 100%);
        }


    }
}

.grid-content{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 4rem;
    text-align: center;
    

    p{
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        margin-bottom: 15px;
        color: rgb(255, 255, 255);
    }

    a{
        display: inline-block;
        text-decoration: none;
        text-align: center;
        font-size: 0.9rem;
        font-weight: 700;
        text-transform: uppercase;
        padding: 8px;
        border-radius: 20px;
        width: 100px;
        height: 40px;
        line-height: 24px;
        background-color: black;
        color: white;

        
    }
}

.grid-container{
    display: none;

    @media screen and (min-width: 630px) {  
        display: block;

    }

}

.grid-b{
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 0.7rem;

    

    .item1{
        grid-area: span 4 / span 4;

        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .item2{
        grid-area: span 2 / span 2;

        img{
            object-fit: cover;
            object-position: left;
            width: 100%;
            height: 100%;
        }
    }

    .item3{
        grid-area: span 2 / span 2;

        img{
            object-fit: cover;
            object-position: left;
            width: 100%;
            height: 100%;
        }
    }



}