* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

main {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 1px;
}

header {
  width: 100%;
  border-bottom: 1px solid #d2d2d2;
  -webkit-box-shadow: 1 white;
          box-shadow: 1 white;
  background-color: white;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
}

.header-container {
  width: 90%;
  margin: 0 auto;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 1000px) {
  .burger-container {
    display: none;
  }
}

.burger-container .fa-bars {
  font-size: 1.2rem;
  cursor: pointer;
}

.logo-container .logo {
  width: 48px;
  cursor: pointer;
}

.shop-container {
  font-size: 1.1rem;
}

@media screen and (min-width: 1100px) {
  .shop-container {
    font-size: 1.3rem;
  }
}

.shop-container .fa-shopping-cart {
  cursor: pointer;
}

.navbar {
  display: none;
}

@media screen and (min-width: 1000px) {
  .navbar {
    display: block;
  }
}

.navbar ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar ul li {
  margin: 0 6px;
}

.navbar ul li a {
  display: block;
  padding: 15px 10px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.navbar ul:hover li:hover {
  border-bottom: 1px solid black;
}

.info {
  width: 100%;
  margin-top: 65px;
  background-color: #f6f6f6;
  display: none;
}

@media screen and (min-width: 990px) {
  .info {
    display: block;
  }
}

.info .info-container {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.info .info-container p {
  font-size: 12px;
}

.header__mobile {
  margin-top: 65px;
  background-color: #f6f6f6;
}

@media screen and (min-width: 990px) {
  .header__mobile {
    display: none;
  }
}

.mobile-new-release {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.mobile-new-release .release {
  text-transform: uppercase;
  border: 1.2px solid #e3e3e3;
  border-top: none;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-new-release .release a {
  text-align: center;
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: .75rem;
}

@media screen and (min-width: 740px) {
  .mobile-new-release .release a {
    font-size: 15px;
  }
}

.mobile-new-release #women-release {
  border-left: 0;
}

.hero {
  position: relative;
  height: 50vh;
}

@media screen and (min-width: 740px) {
  .hero {
    height: 60vh;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 70vh;
  }
}

.hero img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero-content {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(255, 255, 255, 0)), to(rgba(26, 26, 26, 0.658)));
  background: linear-gradient(to top, rgba(255, 255, 255, 0) 0, rgba(26, 26, 26, 0.658) 100%);
}

@media screen and (min-width: 740px) {
  .hero-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.hero-content img {
  display: inline-block;
  width: 200px;
}

.hero-content h1 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fafafa;
  margin-bottom: 25px;
  letter-spacing: .8px;
}

@media screen and (min-width: 740px) {
  .hero-content h1 {
    font-size: 30px;
    margin-bottom: 40px;
    margin-top: 40px;
  }
}

.hero-content a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px;
  border-radius: 20px;
  width: 90px;
  height: 40px;
  line-height: 24px;
  background-color: white;
  color: black;
}

@media screen and (min-width: 740px) {
  .hero-content a {
    margin-bottom: 40px;
  }
}

.shop {
  width: 92%;
  margin: 18px auto 0 auto;
}

@media screen and (min-width: 740px) {
  .shop {
    margin-top: 35px;
  }
}

@media screen and (min-width: 1500px) {
  .shop {
    width: 90%;
    margin: 40px auto 0 auto;
  }
}

.shop-header {
  width: 100%;
  margin-bottom: 15px;
}

.shop-header a {
  font-size: 16px;
  font-weight: 700;
}

@media screen and (min-width: 740px) {
  .shop-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 25px;
  }
}

.shop-title {
  text-transform: uppercase;
}

.shop-title h2 {
  color: #53565A;
  font-size: 14px;
  font-weight: 700;
}

.shop-title p {
  font-size: 20px;
  font-weight: 700;
}

@media screen and (min-width: 740px) {
  .shop-title p {
    font-size: 25px;
  }
}

.view {
  text-transform: capitalize;
  color: black;
  margin-top: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: bold;
}

.items-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-gap: .6rem;
}

@media screen and (min-width: 740px) {
  .items-wrapper {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
}

@media screen and (min-width: 990px) {
  .items-wrapper {
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
  }
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.item-container__a {
  position: relative;
}

.item-container__a a {
  display: block;
}

.item-container__a a img {
  width: 100%;
  display: block;
}

.add-to-cart {
  cursor: pointer;
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 5px;
  width: 35px;
  height: 35px;
  border: none;
  background-color: #f1f1f1;
  -webkit-box-shadow: rgba(0, 0, 0, 0);
          box-shadow: rgba(0, 0, 0, 0);
}

.add-to-cart i {
  color: #3b3b3b;
}

.item-c {
  display: none;
}

@media screen and (min-width: 740px) {
  .item-c {
    display: block;
  }
}

.item-d {
  display: none;
}

@media screen and (min-width: 990px) {
  .item-d {
    display: block;
  }
}

.item-container__b h3 {
  margin-bottom: 5px;
  margin-top: 4px;
}

.item-container__b h3 a {
  text-transform: capitalize;
  text-decoration: none;
  color: #444444;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.item-container__b .color {
  color: #6E6E6E;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: normal;
  margin-bottom: 5px;
}

.item-container__b p {
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.second-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 95%;
  margin: 30px auto 60px auto;
}

@media screen and (min-width: 740px) {
  .second-banner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.banner-a {
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}

.banner-a img {
  width: 100%;
}

.banner-a .btnm {
  position: absolute;
  right: 10%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-a .btnm p {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 32px;
  margin-bottom: 5px;
}

.banner-a .btnm button {
  cursor: pointer;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px;
  border-radius: 20px;
  width: 100px;
  border-color: black;
  background-color: black;
  color: white;
}

.banner-a .btnm button:hover {
  background-color: #292929;
}

@media screen and (min-width: 470px) {
  .banner-a {
    height: 300px;
  }
}

@media screen and (min-width: 740px) {
  .banner-a {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 49%;
  }
}

.banner-b {
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  position: relative;
}

@media screen and (min-width: 470px) {
  .banner-b {
    height: 300px;
  }
}

@media screen and (min-width: 740px) {
  .banner-b {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 49%;
  }
}

.banner-b img {
  width: 100%;
}

.banner-b .btnw {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 10%;
}

.banner-b p {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 32px;
  margin-bottom: 5px;
}

.banner-b button {
  cursor: pointer;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px;
  border-radius: 20px;
  width: 100px;
  border-color: black;
  background-color: black;
  color: white;
}

.banner-b button:hover {
  background-color: #292929;
}

.gallery {
  width: 100%;
  margin-top: 40px;
}

@media screen and (min-width: 745px) {
  .gallery {
    margin-top: 55px;
  }
}

@media screen and (min-width: 1500px) {
  .gallery-a {
    width: 90%;
    margin: auto;
  }
}

.gallery-a h3 {
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 10px;
  font-weight: 700;
}

@media screen and (min-width: 990px) {
  .gallery-a h3 {
    font-size: 30px;
  }
}

.gallery-a .grid {
  width: 100%;
  height: 80vh;
  position: relative;
}

@media screen and (min-width: 630px) {
  .gallery-a .grid {
    display: none;
  }
}

.gallery-a .grid .item1 {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.8)));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(0, 0, 0, 0.8) 100%);
}

.grid-content {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 4rem;
  text-align: center;
}

.grid-content p {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: white;
}

.grid-content a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px;
  border-radius: 20px;
  width: 100px;
  height: 40px;
  line-height: 24px;
  background-color: black;
  color: white;
}

.grid-container {
  display: none;
}

@media screen and (min-width: 630px) {
  .grid-container {
    display: block;
  }
}

.grid-b {
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  gap: 0.7rem;
}

.grid-b .item1 {
  grid-area: span 4 / span 4;
}

.grid-b .item1 img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.grid-b .item2 {
  grid-area: span 2 / span 2;
}

.grid-b .item2 img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
  width: 100%;
  height: 100%;
}

.grid-b .item3 {
  grid-area: span 2 / span 2;
}

.grid-b .item3 img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
  width: 100%;
  height: 100%;
}

footer {
  width: 100%;
  border-top: 1px solid #e7e7e7;
}

.footer-container-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 15px;
  width: 85%;
  margin: auto;
}

.footer-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 660px) {
  .footer-title {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.footer-title h4 {
  text-transform: uppercase;
  margin-right: 20px;
}

.footer-title .logo-footer {
  width: 50px;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 660px) {
  .footer-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 20px;
  }
}

.information {
  margin-top: 15px;
  border-top: 1px solid #e7e7e7;
  padding: 10px 0;
}

@media screen and (min-width: 660px) {
  .information {
    margin-right: 40px;
    border-top: none;
  }
}

.information h4 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.information .list {
  list-style: none;
  margin-top: 9px;
}

.information .list li {
  margin: 5px 0;
}

.information .list li a {
  text-decoration: none;
  color: #53565a;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.footer-b {
  margin-top: 40px;
  border-top: 1px solid #e7e7e7;
}

.footer-container-b {
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
}

.footer-container-b ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.footer-container-b ul li {
  margin: 3px 0;
  padding: 0 10px;
  border-right: 1px solid #444444;
  text-transform: capitalize;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.footer-container-b ul li:last-child {
  border-right: none;
}
/*# sourceMappingURL=style.css.map */